@import '~@angular/material/theming';

@include mat-core();

$md-primary: (
    50 : #fef4e0,
    100 : #fce3b3,
    200 : #fad080,
    300 : #f7bd4d,
    400 : #f6af26,
    500 : #f4a100,
    600 : #f39900,
    700 : #f18f00,
    800 : #ef8500,
    900 : #ec7400,
    A100 : #ffffff,
    A200 : #ffede0,
    A400 : #ffd0ad,
    A700 : #ffc293,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e9f2e5,
    100 : #c8debf,
    200 : #a4c894,
    300 : #80b169,
    400 : #64a149,
    500 : #499029,
    600 : #428824,
    700 : #397d1f,
    800 : #317319,
    900 : #21610f,
    A100 : #aaff96,
    A200 : #80ff63,
    A400 : #57ff30,
    A700 : #42ff17,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mmb-palette-primary: mat-palette($md-primary);
$mmb-palette-accent: mat-palette($md-accent);

$mmb-app-theme: mat-light-theme($md-primary, $md-accent);
@include angular-material-theme($mmb-app-theme)